<div class="main">
    <div class="signup">
        <form (ngSubmit)="signup()">
            <label>Sign up</label>
            <h4>Email</h4>
            <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required="">
            <h4>Name</h4>
            <input type = "text" name = "name" [(ngModel)] = "name" placeholder="Name" required="">
            <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required="">
            <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm Password" required="">
            <button type="submit">Sign up</button>
            <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
        </form>
    </div>
</div>
